In [92]:
import pandas as pd
#load dataframe from csv
#df = pd.read_csv(data_url)
data_url='https://raw.githubusercontent.com/fivethirtyeight/data/master/us-weather-history/KCLT.csv'
df = pd.read_csv(data_url)
#print dataframe
print(df)

          date  actual_mean_temp  actual_min_temp  actual_max_temp  \
0     2014-7-1                81               70               91
1     2014-7-2                85               74               95
2     2014-7-3                82               71               93
3     2014-7-4                75               64               86
4     2014-7-5                72               60               84
..         ...               ...              ...              ...
360  2015-6-26                85               70              100
361  2015-6-27                82               71               92
362  2015-6-28                76               66               85
363  2015-6-29                73               59               87
364  2015-6-30                83               71               94

     average_min_temp  average_max_temp  record_min_temp  record_max_temp  \
0                  67                89               56              104
1                  68                89               56              101
2                  68                89               56               99
3                  68                89               55               99
4                  68                89               57              100
..                ...               ...              ...              ...
360                67                88               55              102
361                67                88               56              103
362                67                88               53              101
363                67                88               54              104
364                67                89               54              104

     record_min_temp_year  record_max_temp_year  actual_precipitation  \
0                    1919                  2012                  0.00
1                    2008                  1931                  0.00
2                    2010                  1931                  0.14
3                    1933                  1955                  0.00
4                    1967                  1954                  0.00
..                    ...                   ...                   ...
360                  1979                  1952                  1.21
361                  2012                  1954                  0.55
362                  1968                  1959                  0.00
363                  1974                  2012                  0.00
364                  1962                  2012                  0.00

     average_precipitation  record_precipitation
0                     0.10                  5.91
1                     0.10                  1.53
2                     0.11                  2.50
3                     0.10                  2.63
4                     0.10                  1.65
..                     ...                   ...
360                   0.11                  1.98
361                   0.11                  1.86
362                   0.11                  1.83
363                   0.11                  2.39
364                   0.11                  2.75

[365 rows x 13 columns]

In [6]:
numeric_ColumnDf=df[["actual_mean_temp","actual_min_temp","actual_max_temp","average_min_temp","average_max_temp","record_min_temp","record_max_temp","actual_precipitation","average_precipitation","record_precipitation"]].copy()
print(numeric_ColumnDf)
print("\n----------- Calculate Mean -----------\n")
print(numeric_ColumnDf.mean())
 
print("\n----------- Calculate Median -----------\n")
print(numeric_ColumnDf.median())
 
print("\n----------- Calculate Mode -----------\n")
print(numeric_ColumnDf.mode())

     actual_mean_temp  actual_min_temp  actual_max_temp  average_min_temp  \
0                  81               70               91                67
1                  85               74               95                68
2                  82               71               93                68
3                  75               64               86                68
4                  72               60               84                68
..                ...              ...              ...               ...
360                85               70              100                67
361                82               71               92                67
362                76               66               85                67
363                73               59               87                67
364                83               71               94                67

     average_max_temp  record_min_temp  record_max_temp  actual_precipitation  \
0                  89               56              104                  0.00
1                  89               56              101                  0.00
2                  89               56               99                  0.14
3                  89               55               99                  0.00
4                  89               57              100                  0.00
..                ...              ...              ...                   ...
360                88               55              102                  1.21
361                88               56              103                  0.55
362                88               53              101                  0.00
363                88               54              104                  0.00
364                89               54              104                  0.00

     average_precipitation  record_precipitation
0                     0.10                  5.91
1                     0.10                  1.53
2                     0.11                  2.50
3                     0.10                  2.63
4                     0.10                  1.65
..                     ...                   ...
360                   0.11                  1.98
361                   0.11                  1.86
362                   0.11                  1.83
363                   0.11                  2.39
364                   0.11                  2.75

[365 rows x 10 columns]

----------- Calculate Mean -----------

actual_mean_temp         61.049315
actual_min_temp          49.958904
actual_max_temp          71.630137
average_min_temp         48.819178
average_max_temp         70.983562
record_min_temp          31.465753
record_max_temp          88.728767
actual_precipitation      0.102411
average_precipitation     0.114082
record_precipitation      2.208904
dtype: float64

----------- Calculate Median -----------

actual_mean_temp         63.00
actual_min_temp          52.00
actual_max_temp          73.00
average_min_temp         48.00
average_max_temp         72.00
record_min_temp          30.00
record_max_temp          90.00
actual_precipitation      0.00
average_precipitation     0.11
record_precipitation      1.98
dtype: float64

----------- Calculate Mode -----------

   actual_mean_temp  actual_min_temp  actual_max_temp  average_min_temp  \
0              78.0             67.0               84              68.0
1               NaN              NaN               86               NaN
2               NaN              NaN               90               NaN

   average_max_temp  record_min_temp  record_max_temp  actual_precipitation  \
0              89.0             53.0            100.0                   0.0
1               NaN             55.0              NaN                   NaN
2               NaN              NaN              NaN                   NaN

   average_precipitation  record_precipitation
0                   0.11                  1.65
1                    NaN                  1.78
2                    NaN                  1.82

In [19]:
n=len(df)*0.20
df.sort_values(by=['actual_mean_temp']).head(n)

TypeError: cannot do slice indexing on <class 'pandas.core.indexes.numeric.Int64Index'> with these indexers [73.0] of <class 'float'>

In [26]:
n=len(df)*0.2
df.groupby('actual_min_temp').head(n)

,date,actual_mean_temp,actual_min_temp,actual_max_temp,average_min_temp,average_max_temp,record_min_temp,record_max_temp,record_min_temp_year,record_max_temp_year,actual_precipitation,average_precipitation,record_precipitation
0,2014-7-1,81,70,91,67,89,56,104,1919,2012,0.00,0.10,5.91
1,2014-7-2,85,74,95,68,89,56,101,2008,1931,0.00,0.10,1.53
2,2014-7-3,82,71,93,68,89,56,99,2010,1931,0.14,0.11,2.50
3,2014-7-4,75,64,86,68,89,55,99,1933,1955,0.00,0.10,2.63
4,2014-7-5,72,60,84,68,89,57,100,1967,1954,0.00,0.10,1.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2015-6-26,85,70,100,67,88,55,102,1979,1952,1.21,0.11,1.98
361,2015-6-27,82,71,92,67,88,56,103,2012,1954,0.55,0.11,1.86
362,2015-6-28,76,66,85,67,88,53,101,1968,1959,0.00,0.11,1.83
363,2015-6-29,73,59,87,67,88,54,104,1974,2012,0.00,0.11,2.39
364,2015-6-30,83,71,94,67,89,54,104,1962,2012,0.00,0.11,2.75

In [28]:
FirstFour_ColumnDf=df[["date","actual_mean_temp","actual_min_temp","actual_max_temp"]].copy()
n=len(df)*0.2
#FirstFour_ColumnDf.head(n)

In [71]:
#Question 4

df['newColumn'] = df['actual_mean_temp'] 
df.head()

,date,actual_mean_temp,actual_min_temp,actual_max_temp,average_min_temp,average_max_temp,record_min_temp,record_max_temp,record_min_temp_year,record_max_temp_year,actual_precipitation,average_precipitation,record_precipitation,newColumn
0,2014-7-1,81,70,91,67,89,56,104,1919,2012,0.0,0.1,5.91,81
1,2014-7-2,85,74,95,68,89,56,101,2008,1931,0.0,0.1,1.53,85
3,2014-7-4,75,64,86,68,89,55,99,1933,1955,0.0,0.1,2.63,75
4,2014-7-5,72,60,84,68,89,57,100,1967,1954,0.0,0.1,1.65,72
5,2014-7-6,74,61,87,68,89,57,99,1964,1948,0.0,0.1,1.95,74

In [33]:
#question 5
del df['newColumn']
df.head()

,date,actual_mean_temp,actual_min_temp,actual_max_temp,average_min_temp,average_max_temp,record_min_temp,record_max_temp,record_min_temp_year,record_max_temp_year,actual_precipitation,average_precipitation,record_precipitation,‘newColumn
0,2014-7-1,81,70,91,67,89,56,104,1919,2012,0.00,0.10,5.91,81
1,2014-7-2,85,74,95,68,89,56,101,2008,1931,0.00,0.10,1.53,85
2,2014-7-3,82,71,93,68,89,56,99,2010,1931,0.14,0.11,2.50,82
3,2014-7-4,75,64,86,68,89,55,99,1933,1955,0.00,0.10,2.63,75
4,2014-7-5,72,60,84,68,89,57,100,1967,1954,0.00,0.10,1.65,72

In [73]:
#Question 6

#Print the first 10 rows
df.head(10)

,date,actual_mean_temp,actual_min_temp,actual_max_temp,average_min_temp,average_max_temp,record_min_temp,record_max_temp,record_min_temp_year,record_max_temp_year,actual_precipitation,average_precipitation,record_precipitation
0,2014-7-1,81,70,91,67,89,56,104,1919,2012,0.00,0.10,5.91
1,2014-7-2,85,74,95,68,89,56,101,2008,1931,0.00,0.10,1.53
2,2014-7-3,82,71,93,68,89,56,99,2010,1931,0.14,0.11,2.50
3,2014-7-4,75,64,86,68,89,55,99,1933,1955,0.00,0.10,2.63
4,2014-7-5,72,60,84,68,89,57,100,1967,1954,0.00,0.10,1.65
5,2014-7-6,74,61,87,68,89,57,99,1964,1948,0.00,0.10,1.95
6,2014-7-7,79,67,91,68,89,55,100,1972,1954,0.00,0.11,2.37
7,2014-7-8,83,72,94,68,89,58,101,1892,2010,0.00,0.11,1.87
8,2014-7-9,80,71,89,68,89,57,101,1891,1986,0.15,0.12,3.71
9,2014-7-10,78,71,85,68,89,53,101,1961,1926,0.00,0.11,2.45

In [74]:
#---continue question 6
#save row containing data of ‘2014-7-3’  in a variable of type series (data structure).
#print(df.date)
sr=df.date[df.date=='2014-7-3']
print(sr)
print(type(sr))
#remove the row containing data of ‘2014-7-3’, 
df=df[df.date!='2014-7-3']
df.head(10)

2    2014-7-3
Name: date, dtype: object
<class 'pandas.core.series.Series'>

,date,actual_mean_temp,actual_min_temp,actual_max_temp,average_min_temp,average_max_temp,record_min_temp,record_max_temp,record_min_temp_year,record_max_temp_year,actual_precipitation,average_precipitation,record_precipitation
0,2014-7-1,81,70,91,67,89,56,104,1919,2012,0.00,0.10,5.91
1,2014-7-2,85,74,95,68,89,56,101,2008,1931,0.00,0.10,1.53
3,2014-7-4,75,64,86,68,89,55,99,1933,1955,0.00,0.10,2.63
4,2014-7-5,72,60,84,68,89,57,100,1967,1954,0.00,0.10,1.65
5,2014-7-6,74,61,87,68,89,57,99,1964,1948,0.00,0.10,1.95
6,2014-7-7,79,67,91,68,89,55,100,1972,1954,0.00,0.11,2.37
7,2014-7-8,83,72,94,68,89,58,101,1892,2010,0.00,0.11,1.87
8,2014-7-9,80,71,89,68,89,57,101,1891,1986,0.15,0.12,3.71
9,2014-7-10,78,71,85,68,89,53,101,1961,1926,0.00,0.11,2.45
10,2014-7-11,78,68,87,68,89,55,100,1961,1986,0.00,0.12,3.10

In [75]:
#Question 7
#Add the row that you deleted before. Print the first 10 rows again.
df = df.append(pd.DataFrame(sr))
df.head(10)

,date,actual_mean_temp,actual_min_temp,actual_max_temp,average_min_temp,average_max_temp,record_min_temp,record_max_temp,record_min_temp_year,record_max_temp_year,actual_precipitation,average_precipitation,record_precipitation
0,2014-7-1,81.0,70.0,91.0,67.0,89.0,56.0,104.0,1919.0,2012.0,0.00,0.10,5.91
1,2014-7-2,85.0,74.0,95.0,68.0,89.0,56.0,101.0,2008.0,1931.0,0.00,0.10,1.53
3,2014-7-4,75.0,64.0,86.0,68.0,89.0,55.0,99.0,1933.0,1955.0,0.00,0.10,2.63
4,2014-7-5,72.0,60.0,84.0,68.0,89.0,57.0,100.0,1967.0,1954.0,0.00,0.10,1.65
5,2014-7-6,74.0,61.0,87.0,68.0,89.0,57.0,99.0,1964.0,1948.0,0.00,0.10,1.95
6,2014-7-7,79.0,67.0,91.0,68.0,89.0,55.0,100.0,1972.0,1954.0,0.00,0.11,2.37
7,2014-7-8,83.0,72.0,94.0,68.0,89.0,58.0,101.0,1892.0,2010.0,0.00,0.11,1.87
8,2014-7-9,80.0,71.0,89.0,68.0,89.0,57.0,101.0,1891.0,1986.0,0.15,0.12,3.71
9,2014-7-10,78.0,71.0,85.0,68.0,89.0,53.0,101.0,1961.0,1926.0,0.00,0.11,2.45
10,2014-7-11,78.0,68.0,87.0,68.0,89.0,55.0,100.0,1961.0,1986.0,0.00,0.12,3.10

In [99]:
#Question 8
#Update the actual_min_temp in the data row for date ‘2014-7-3’ to any value. Print the updated row.
#nm=df['date' == '2014-7-3'].index
show=df.query('date'=='2014-7-3').index.tolist()
print(show)

ValueError: expr must be a string to be evaluated, <class 'bool'> given